/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;}
body{ font-family:"微软雅黑"; font-size:12px; color:#000000;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#009999;}

@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0 }
body, button, input, select, textarea {font:12px/1.5 "\5FAE\8F6F\96C5\9ED1", arial ; *line-height:1.5}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight: normal;}
address, cite, dfn, em, var {font-style:normal;}
code, kbd, pre, samp {font-family:courier new, courier, monospace;}
body{width: 100%; margin: 0 auto;}
ul, ol {list-style:none;}
fieldset, img {border:0}
table {border-collapse:collapse;border-spacing:0;}
input, button, textarea, select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;font-size:100%;}
div:after, ul:after, dl:after,.clearfix:after { content:""; display:block; clear:both; height:0; visibility:hidden;}
/****/
abbr, article, aside, audio, canvas, datalist, details, figure, footer, header, hgroup, menu, nav, output, progress, section, video {display:block;margin:0;padding:0}
i,u,b,em,span,small{ font-weight:normal; font-style:normal;}
html,body {height: 100%}
/****/
html {font-size: 62.5%;} 
body {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-user-select: none;
	 user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
a{text-decoration: none;}
h2{ margin:0; padding: 0;}
ul{word-spacing: -4px;}

input,img{
	vertical-align: middle;/*垂直居中对齐*/
}
*,*:after,*:before{
  -webkit-box-sizing:border-box;
}
.clear:after{content: "";clear: both; display: block;}
/*手机端*/
/*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">*/
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}
